body {
  background-color: rgb(248, 238, 224);
}

h1 {
  color: blueviolet;
  font-size: 50px;
  font-family: fantasy;
}
p.text {
  text-align: justify;
  height: 1.5;
}
p.card-text {
  text-align: justify;
  color: blueviolet;
  text-decoration: none !important;
}
.btn {
  background: blueviolet;
}
a.email-link {
  text-align: center;
}
